body {
    text-align: center;
  font-family: Helvetica;
  }

.header {
   background-image: url(../images/the-flatiron-building.png)
}
h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 42px;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.footer {
  text-align: left;
  color: white;
  background-color: dimgray;
}
.nav{
  font-size: 18px;
  color: white;
}
